@model IEnumerable<SchoolManagmentSystem.Models.Entities.Subject>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjects</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        title{
            color:white
        }
        body {
            background: linear-gradient(to bottom, #42d7f5, #ffffff);
            font-family: 'Arial', sans-serif;
        }

        h2 {
            margin-top: 20px;
            color: white;
        }

        .card-container {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .subject-card {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px;
            margin: 20px;
            padding: 20px;
            transition: transform 0.3s;
        }

            .subject-card:hover {
                transform: translateY(-10px);
            }

            .subject-card h4 {
                color: #0056b3;
                font-size: 20px;
                margin-bottom: 10px;
            }

            .subject-card p {
                margin: 5px 0;
            }

        .btn-details {
            color: #ffffff;
            text-decoration: none;
            background-color: #007bff;
            padding: 8px 12px;
            border-radius: 5px;
            transition: background-color 0.3s;
            display: inline-block;
            margin-top: 10px;
        }

            .btn-details:hover {
                background-color: #007bff;
                color:white;
                text-decoration:none;
            }
    </style>
</head>
<body>
    <div class="container">
        <h2>Subjects</h2>
        <div class="card-container">
            @foreach (var subject in Model)
            {
                <div class="subject-card">
                    <h4>@subject.Name</h4>
                    <p><strong>Description:</strong> @subject.Description</p>
                    <p><strong>Weekly Classes:</strong> @subject.NumberOfWeeklyClasses</p>
                    <p><strong>Teacher:</strong> @(subject.Teacher != null ? subject.Teacher.Name : "No Teacher Assigned")</p>
                    <a asp-action="Details" asp-route-id="@subject.Id" class="btn-details">Details</a>
                </div>
            }
        </div>
    </div>
</body>
</html>
